This file is same as Initial_Model file just based on previous model feature analysis we will remove some features than we will again train our model and see the important features and we will go on doing this till we get highest accuracy model.
We are removing 4-5 features at a time and we found that on 2nd step only accuracy decreased so on removing lowest 5 only from the previous model(Initial_Model) we got the heighest accuracy model.
This code shows the step where we are removing features for the sencond time.

In [1]:
import pandas as pd

In [2]:
x_train = pd.read_csv('X_train2.csv')
y_train = pd.read_csv('y_train.csv')

In [3]:
x_train.head()

,Unnamed: 0,area_assesed,district_id_x,has_geotechnical_risk,has_geotechnical_risk_fault_crack,has_geotechnical_risk_flood,has_geotechnical_risk_land_settlement,has_geotechnical_risk_landslide,has_geotechnical_risk_liquefaction,has_geotechnical_risk_other,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
0,0,0,24,0.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,44,0.0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,2,0,36,0.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,1,30,0.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,36,0.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
x_train.shape

(617725, 57)

In [5]:
y_train.head()

   Unnamed: 0 damage_grade
0           0      Grade 4
1           1      Grade 2
2           2      Grade 1
3           3      Grade 5
4           4      Grade 3

In [6]:
y_train.shape

(617725, 2)

In [7]:
damage_grade = y_train['damage_grade']

In [8]:
damage_grade.shape

(617725,)

In [9]:
x_test = pd.read_csv('X_test2.csv')
x_test.head()

,Unnamed: 0,area_assesed,building_id,district_id_x,has_geotechnical_risk,has_geotechnical_risk_fault_crack,has_geotechnical_risk_flood,has_geotechnical_risk_land_settlement,has_geotechnical_risk_landslide,has_geotechnical_risk_liquefaction,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
0,0,0,a3380c4f75,7,0.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,a338a4e653,7,0.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,1,a338a4e6b7,7,0.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,0,a33a6eaa3a,7,0.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,1,a33b073ff6,7,0.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
x_test.shape

(421175, 58)

Just remove the first 6 entries to get the best accuracy model

In [11]:
train = x_train.drop(columns=['has_secondary_use_industry','has_geotechnical_risk_liquefaction','has_superstructure_rc_engineered','has_secondary_use_other','has_geotechnical_risk_flood','has_secondary_use_rental','has_secondary_use_institution','has_geotechnical_risk_other','has_secondary_use_school','has_secondary_use_health_post','has_secondary_use_gov_office','has_secondary_use_use_police'])
train.shape

(617725, 45)

In [12]:
building_id = x_test['building_id']
test = x_test.drop(columns=['has_secondary_use_industry','has_geotechnical_risk_liquefaction','has_superstructure_rc_engineered','has_secondary_use_other','has_geotechnical_risk_flood','has_secondary_use_rental','building_id','has_secondary_use_institution','has_geotechnical_risk_other','has_secondary_use_school','has_secondary_use_health_post','has_secondary_use_gov_office','has_secondary_use_use_police'])
test.shape

(421175, 45)

In [13]:
from sklearn.ensemble import RandomForestClassifier

In [14]:
clf=RandomForestClassifier()
clf.fit(train,damage_grade)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [15]:
pred = clf.predict(test)

In [16]:
final_result = pd.DataFrame({ 'building_id' : building_id , 'damage_grade' : pred})
final_result.to_csv('output4.csv', index = False)

In [17]:
feature_imp = pd.Series(clf.feature_importances_,index=train.columns).sort_values(ascending=False)
feature_imp

height_ft_post_eq                         0.184338
condition_post_eq                         0.110690
count_floors_post_eq                      0.106181
Unnamed: 0                                0.058134
age_building                              0.054765
plinth_area_sq_ft                         0.053600
ward_id_x                                 0.052752
ward_id_y                                 0.050757
area_assesed                              0.050537
vdcmun_id                                 0.027654
vdcmun_id_y                               0.027225
height_ft_pre_eq                          0.026166
vdcmun_id_x                               0.025958
ground_floor_type                         0.014886
has_repair_started                        0.014290
foundation_type                           0.011821
other_floor_type                          0.011402
roof_type                                 0.011201
has_superstructure_mud_mortar_stone       0.010104
count_families                            0.009013
position                                  0.008787
land_surface_condition                    0.007698
count_floors_pre_eq                       0.007150
district_id_y                             0.006652
has_superstructure_timber                 0.005808
district_id                               0.004451
district_id_x                             0.004424
has_secondary_use                         0.004265
has_geotechnical_risk                     0.003599
plan_configuration                        0.003447
has_superstructure_bamboo                 0.003180
has_superstructure_cement_mortar_brick    0.002969
has_secondary_use_agriculture             0.002938
has_superstructure_rc_non_engineered      0.002496
has_superstructure_adobe_mud              0.002485
has_geotechnical_risk_landslide           0.002427
legal_ownership_status                    0.002299
has_superstructure_mud_mortar_brick       0.002140
has_secondary_use_hotel                   0.002010
has_geotechnical_risk_land_settlement     0.001758
has_superstructure_cement_mortar_stone    0.001660
has_geotechnical_risk_fault_crack         0.001631
has_superstructure_stone_flag             0.001606
has_geotechnical_risk_rock_fall           0.001447
has_superstructure_other                  0.001202
dtype: float64